@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background: #610094;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;

  min-height: 100vh;
  background: #610094;
  background: radial-gradient(circle, #610094 0%, rgba(0, 0, 0, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
